<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Alerting"
      Manufacturer="Alerting"
      Version="1.0.0"
      Language="1033"
      UpgradeCode="{6D4F9B52-1AA1-4F9C-8AA2-B23D1562A21E}"
      InstallerVersion="500"
      Compressed="yes"
      Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Alerting is already installed." />

    <Media/>

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="Alerting">
        <Component Id="cmpAlertingExe" Guid="{8A9531A4-6D82-4F13-861D-0F8DC8D302FD}" Directory="INSTALLFOLDER">
          <File Id="AlertingExe" Source="$(var.AlertingExecutable)" />
        </Component>
        <Component Id="cmpLauncherExe" Guid="{A7B9E534-5F16-4F2A-9841-570F7C3B6F32}" Directory="INSTALLFOLDER">
          <File Id="AlertingLauncherExe" Source="$(var.AlertingLauncherExecutable)" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ShortcutDir" Name="Alerting">
        <Component Id="cmpShortcut" Guid="{C0C072E7-8B46-4BDB-ADFB-99F36F7640F5}" Directory="ShortcutDir">
          <Shortcut
              Id="AlertingShortcut"
              Name="Alerting"
              Target="[#AlertingLauncherExe]"
              WorkingDirectory="INSTALLFOLDER"
              AppUserModelID="Alerting" />
          <RegistryValue
              Root="HKCU"
              Key="Software\\Alerting"
              Name="Installer"
              Type="integer"
              Value="1"
              KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="cmpAlertingExe" />
      <ComponentRef Id="cmpLauncherExe" />
      <ComponentRef Id="cmpShortcut" />
    </ComponentGroup>

    <Feature Id="MainFeature" Title="Alerting" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>
</Wix>
